snippet mail "A simple mail snippet" b
${1:Hello} ${2:name},
${3:Content}
Best regards,
Ole
endsnippet

snippet nmail "A simple mail snippet" b
${1:Hei} ${2:name},
${3:Content}
Med vennlig hilsen,
Ole
endsnippet


snippet todo "todo oppgave" b
<TODO: ${1: task}>
endsnippet
